<div class="container">
  <app-navigation></app-navigation>
  <div class="right-side">
    <app-header></app-header>
    <div class="content">
      <div class="purple">
        <div class="orange">
          <app-dashboard></app-dashboard>
        </div>
        <div class="pink">
          <div class="four-blocks">
            <div class="block">
              <div class="block__text block__text--green">25</div>
              <div>
                <svg class="icon icon-checkmark">
                  <use [attr.xlink:href]="'assets/icons.svg#icon-checkmark'"></use>
                </svg>
                <span class="stat-names">SIGNUPS</span>
              </div>
            </div>
            <div class="block">
              <div class="block__text block__text--blue">$1000</div>
              <div>
                <svg class="icon icon-blue">
                  <use [attr.xlink:href]="'assets/icons.svg#icon-stats-dots'"></use>
                </svg>
                <span class="stat-names">PROFIT</span>
              </div>
            </div>
            <div class="block">
              <div class="block__text block__text--yellow">$350</div>
              <div>
                <svg class="icon icon-yellow">
                  <use [attr.xlink:href]="'assets/icons.svg#icon-dollar'"></use>
                </svg>
                <span class="stat-names">COMMISIONS</span>
              </div>
            </div>
            <div class="block">
              <div class="block__text block__text--green">$300</div>
              <div>
                <svg class="icon icon-question">
                  <use [attr.xlink:href]="'assets/icons.svg#icon-question'"></use>
                </svg>
                <span class="stat-names">PENDING COMISSION</span>
              </div>
            </div>
          </div>
          <div class="chart-flex">
            <div id="chart1div" style="width: 33%; height: 500px" class="chart"></div>
            <div id="chart2div" style="width: 33%; height: 500px" class="chart"></div>
            <div id="chart3div" style="width: 33%; height: 500px" class="chart"></div>
          </div>


        </div>

      </div>
      <div style="display: flex">
        <app-table></app-table>
        <app-table></app-table>
        <app-table></app-table>
      </div>
    </div>
  </div>
</div>






